.responsiveCard :global(.ant-card-body) {
    min-width: 500px !important;
    @media (max-width: 576px) {
        max-width: 100dvw !important;
        min-width: none !important;
      padding: 12px;
    }
  }

  .userProfileContainer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profileHeader {
    max-width: 1400px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    flex-wrap: wrap;
    gap: 16px;
  }

  .greetings{
    display: flex;
    flex-direction: column;
  }

  .userData{
    max-width: 1400px;
  }
  .form{
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .form input{
    color: #000 !important;
    font-size: 19px !important;
    font-weight: 500;
  }

  .orderHistory{
    height: max-content;
    width: 100%;
  }

  .table{
    overflow: scroll !important;
  }

  .tab{
    display: flex;
    align-items: center !important;
    width: 100% !important;
  }

  .tab :global(.ant-tabs-tabpane){
    justify-content: center;
  }

  .tab :global(.ant-tabs-content-holder){
    width: 100% !important;
  }

  .userProfileContainer{
    padding: 10px;
  }

  .downloadButton{
    border: 2px solid #06D001;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #06D001;
    gap: 4px;
    transition: all 0.4s ease;
  }

  .downloadButton:active{
    background-color: #06D001;
    color: #fff;
  }

  .downloadButton:active{
    background-color: #06D001;
    color: #fff;
  }
  
  @media (max-width: 576px) {
    .userData{
      max-width: none !important;
      width: 100%;
    }
    .profileHeader {
      flex-direction: column;
      align-items: flex-start;
    }

    .responsiveCard :global(.ant-card-body) {
      min-width: 0 !important;
      width: 100%;
    }
  }
  
  .userInfo {
    margin-left: 24px;
  }
  
  @media (max-width: 576px) {
    .userInfo {
      margin-left: 0;
    }
  }
  
  .container {
    padding: 20px;
    background-color: #f0f2f5;
    min-height: 100vh;
  }