.dashboardContainer {
  padding: 0 0 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:768px){
  .dashboardContainer{
    margin-top: 63px;
    padding: 0;
  }
}