.navListWrapper {
    padding: 10px;
}

.navList {
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    list-style: none;
    justify-content: space-between;
}

.navList li {
    display: flex;
    flex-direction: column;
    position: relative; 
    transition: all 0.5s ease;
    font-weight: 600;
    font-size: 14px;
    color: #111928;
}

.underLine::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #F97316;
    transition: all 0.4s ease;
}

.navList li:hover .underLine::before {
    width: 100%;
}

@media only screen and (min-width: 300px) and (max-width: 900px) {

    .navList{
        flex-direction: column;
        row-gap: 20px;
        text-align: left;
    }

    .navList li{
        text-align: left;
    }
 
 }
