.carCard {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}



.carInfo {
    border-bottom: 1px solid #dddcdc;
    padding: 20px;
}

.carInfo h3 {
    margin: 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.carInfo p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}


.carSpecs {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    font-size: 14px;
}

.carSpecs span {
    display: flex;
    align-items: center;
    gap: 3px;
}

.carSpecs span img {
    height: 15px;
    width: 15px;
}

.cardBody {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    flex-direction: row;
    gap: 20px;
}

.imageContainer {
    flex: 1;
    position: relative;
    cursor: pointer;
}

.carImage {
    width: 100%;
    height: auto; /* Ensures height adjusts automatically while maintaining aspect ratio */
    object-fit: contain; /* Preserves aspect ratio without shrinking the image */
  }
  

.providerTag {
    position: absolute;
    left: 0;
    bottom: 10px;
    background-color: #4caf50;
    color: white;
    padding: 2px 8px;
    font-size: 12px;
}

.detailsContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.rentalDetails {
    flex: 3;
    padding: 20px;
}

.rentalDetails p {
    max-width: 500px;
    text-align: justify;
}

.icon {
    margin-right: 5px;
}



.priceDetails {
    border-left: 1px solid #dddcdc;
    flex: 0.50;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vipTag {
    background-color: #f0f0f0;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 12px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0;
}

.totalLabel {
    font-size: 12px;
    color: #666;
    margin: 0;
}

.viewDealButton {
    background-color: #ff7f00;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

@media (min-width:300px) and (max-width:1250px) {
    .rentalDetails p{
        text-align: left;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden; 
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;  
    }   
}

@media(min-width:300px) and (max-width:756px){
    .imageContainer ,.detailsContainer{
        flex: 1 1 45%;
    }

    .priceDetails{
        border-top: 1px solid #dddcdc;
        border-left: none;
    }

    .priceDetails{
        flex: 1 1 100%;
    }

    .cardBody{
        padding: 0;
    }

}