/* Brand Table Styling */
.brandTable {
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

.brandTable th {
  background-color: rgb(0, 9, 79) !important;  /* Deep Purple */
  color: #FFFFFF !important;
  font-weight: bold;
  text-align: left;
  padding: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.brandTable td {
  padding: 12px;
  color: #000000 !important;
  font-weight: 600;
}

.brandTable td img {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px !important;
  height: 50px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table tr{
  background-color: #ffffff !important;
}


.editButton{
  background-color:transparent !important;  /* Vibrant Green */
  border: 2px solid #000000;
  color: #000000 !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.deleteButton{
  background-color:transparent !important;  /* Vibrant Green */
  border: 2px solid #ff0000;
  color: #ff0000 !important;
  box-shadow: 0 2px 5px rgba(255, 0, 0, 0.3);
}

/* Buttons for edit and delete */




/* Responsive Design */
@media (max-width: 768px) {
  .table table{
    width: 100% !important;
  }
  .brandTable td {
    font-size: 14px;
    padding: 10px;
  }
  
  .brandTable th {
    font-size: 14px;
    padding: 10px;
  }
}

/* Table Header Sticky on Scroll */
.ant-table-thead > tr > th {
  position: sticky;
  top: 0;
  z-index: 2;
}

/* Pagination Styling */
.ant-pagination-item-active {
  border-color: #6200EA;
}

.ant-pagination-item-active a {
  color: #6200EA;
}

/* Smooth Transitions */
.brandTable * {
  transition: all 0.3s ease;
}