.carContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: max-content;
    position: relative;
}

.filterationButton {
    display: none;
    z-index: 500;
    position: absolute;
    right: 10px;
    bottom: 80px;
}

.sideBar {
    max-height: fit-content;
}

.carList {
    height: 680px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.carList::-webkit-scrollbar {
    display: none;
}

.mainContainer {
    height: 100%;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

@media (min-width: 1250px) and (max-width: 1500px) {
    .map {
        display: none;
    }
}

@media (min-width: 300px) and (max-width: 1250px) {
    .map {
        display: none;
    }
}

@media (min-width: 300px) and (max-width: 1000px) {
    .sideBar {
        display: none;
    }

    .filterationButton {
        display: block;
    }
}