.addBrandWrapper{
    padding: 0;
    width: calc(100dvw);
    height: 100dvh;
}

@media(max-width:768px){
    .addBrandWrapper{
        display: flex;
        margin-top:50px;
        justify-content: center;
    }
} 