.footerListWrapper{
    background-color: #404040;
    color: #fff;
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 50px;
}

.company{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.company h2{
    font-size: 22px;
}

.company ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.company ul li{
    font-size: 12px;
    font-weight: 400;
    color: #f1f1f1;
}

.appDownload{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}
.appDownload h2{
    font-size: 22px;
}

.storeLinks{
    display: flex !important;
    flex-direction: row !important;
    column-gap: 20px;
}

.storeLinks button{
    padding: 10px;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    outline: none;
    border: none;
    background-color: #ffffff24;
    border-radius: 10px;
}

.storeLinks button img{
    width: 25px;
    height: 25px;
}

.storeLinks div{
    row-gap: 0;
    text-align: left;
    color: #ffffff;
}

.storeLinks div h3{
    font-size: 14px;
    font-weight: 600;
}

.storeLinks button div p{
    font-size: 10px;
    width: max-content !important;
}



.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.socials ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

.socials ul li{
    transition: transform 0.4s ease;
}

.socials ul li:hover{
    transform: translateY(-10px);
}

.socials ul li img{
    width: 20px;
    height: 20px;
}



@media only screen and (min-width: 300px) and (max-width: 600px) {

    .footerListWrapper{
        padding: 20px;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }

    .company ul {
        display: grid;
        grid-template-columns:repeat(auto, 1fr); /* Adjust minmax value as needed */
        gap: 10px; /* Optional: add space between items */
    }

    .company ul li{
        width: max-content;
    }
    

    .company,
    .appDownload,
    .socials{
        text-align: left;
        align-items: flex-start;
        width: 100%;
        height: max-content;
    }

    .storeLinks{
        display: grid !important;
        width: 100% !important;
        grid-template-columns: repeat(auto,1fr);
        row-gap: 20px;
    }
 }

 @media only screen and (min-width: 600px) and (max-width: 1000px) {
    .footerListWrapper{
        padding: 20px;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }
 }



