.filterMenu {
    width: 250px;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  
  .sectionTitle {
    font-size: 10px;
    font-weight: bold;
    color: #cbcbcb;
    margin-bottom: 10px;
  }
  
  .filterSection {
    margin-bottom: 20px;
  }
  
  .filterOption {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .filterOption:hover {
    background-color: #f0f0f0;
  }
  
  .selected {
    background-color: #ff6b00;
    color: #fff;
    border-color: #ff6b00;
  }
  
  .optionLabel {
    font-size: 14px;
    flex-grow: 1;
  }
  
  .dateButton {
    width: 100%;
    padding: 10px;
    background-color: #ff6b00;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .dateButton:hover {
    background-color: #ff8533;
  }
  
  .clearButton {
    padding: 10px;
    font-size: 14px;
    color: #ff6b00;
    background-color: transparent;
    border: 2px solid #ff6b00;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .clearButton:hover {
    background-color: #ff6b00;
    color: white;
  }
  